<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crew administrator</title>
</head>
<body>
    <div>
        <a href="/ca_list_request" class="btn">Send request to get the filtered part of the crew members list.</a></br>
        <a href="/ca_edit" class="btn">Edit information about one crew member.</a></br>
        <a href="ca_form" class="btn">Send request to get the form with information about one crew member.</a></br>
        <a href="ca_insert" class="btn">Insert new crew member record</a></br>
        <a href="ca_dismiss" class="btn">Dismiss the crew member</a></br>
        <a href="/" class="btn">Exit</a>
    </div>
</body>
</html>